html
    head
        title Ivan Zhelev CV
        
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")        
        
        
        link(rel="stylesheet" type='text/css' href="build/buildedCss.css")
        link(rel="stylesheet" type='text/css' href="build/stars.css")
        <!--Bootstrap-->
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    body
        #stars
        #stars2
        #stars3
        
        .container
            button#flyInButton test
            button#resetButton resetButton
            
            .target.target1
            .target.target2
            .target.target3
                
                
        <!--jQuery-->
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        <!-- jQuery UI-->
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        <!--Bootstrap-->
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous")
        <!--My-->
        <!-- <script type="text/javascript" src="js/parallax.js"></script> -->
        script(type="text/javascript" src="build/buildedJs.js")
